.square-page {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

/* Each square */
.square-item {
  flex: 0 0 calc((100% - (0rem * 2)) / 4);
  aspect-ratio: 2 / 1;
  background: #f0f0f0;
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}